@import "tailwindcss"; /* Esta es la forma oficial en v4 */

@theme {
  --color-brand-plum: #4A3751;
  --color-brand-coral: #EB5F6B;
  --color-brand-blue: #BAE2E0;
  --color-brand-cream: #F9F9F4;
  /* ... tus demás variables */
}

@layer base {
  body {
    @apply bg-brand-cream text-brand-plum antialiased;
  }
}